# Node.js и пакеты
/node_modules/
/.pnp/
/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Сборка Next.js
/.next/
/out/

# Логи и кеши
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.cache/

# Системные файлы
.DS_Store

# Env-файлы
.env
.env.local
!.env.example

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/

# Отчёты и покрытие
coverage/
/*.lcov

# Архивы
*.tgz

# Прочее (раскомментируйте, если нужно)
/build/
/.idea/
#.serverless/
#.firebase/
#*.pem